# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
.vscode/

# Local application data
data/uploads/
data/vector_store/
*.sqlite3
*.db

# Build output
frontend/dist/
frontend/node_modules/
frontend/.prettierrc
*/.idea
*/target
